<!DOCTYPE html>
{% extends 'Indexpage.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>

<main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active slick-initialized slick-slider">
                <!-- Single Slider -->

            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 890px;"><div class="single-slider slider-height2 slick-slide slick-current slick-active" tabindex="0" style="width: 890px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" data-slick-index="0" aria-hidden="false">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s" class="" style="animation-delay: 0.2s;">About us</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html" tabindex="0">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#" tabindex="0">about</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div></div></div>
        </section>
        <div class="services-area services-area2 section-padding40">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/icon1.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>60+ courses</h3>
                                <p>Provides courses in all new technologies</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/icon2.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Expert instructors</h3>
                                <p>Industry Experts at your fingertips</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static 'assets/img/icon/icon3.svg' %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Life time access</h3>
                                <p>Access any time anywhere.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? About Area-1 Start -->
        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <div class="about-icon">
                        <img src="{% static 'assets/img/icon/about.svg' %}" alt="">
                    </div>
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="">Learn new skills online with top educators</h2>
                            <p>Discover tools and techniques to engage effectively with children and young
                            people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world  learning together.</p>
                        </div>
                    </div>

                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together. Online learning is as easy and natural.</p>
                        </div>
                    </div>
                </div>
                <div class="right-content1">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'assets/img/gallery/about.png' %}" alt="">

                        <div class="video-icon">
                            <a class="popup-video btn-icon" href="#"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? top subjects Area Start -->
        <div class="topic-area section-padding40">
            <div class="container">
                <div class="row justify-content-center">
<!--                    <div class="col-xl-7 col-lg-8">-->
<!--                        <div class="section-tittle text-center mb-55">-->
<!--                            <h2>Explore top subjects</h2>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
<!--                <div class="row">-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-topic text-center mb-30">-->
<!--                            <div class="topic-img">-->
<!--                                <img src="assets/img/gallery/topic1.png" alt="">-->
<!--                                <div class="topic-content-box">-->
<!--                                    <div class="topic-content">-->
<!--                                        <h3><a href="#">Programing</a></h3>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-topic text-center mb-30">-->
<!--                            <div class="topic-img">-->
<!--                                <img src="assets/img/gallery/topic2.png" alt="">-->
<!--                                <div class="topic-content-box">-->
<!--                                    <div class="topic-content">-->
<!--                                        <h3><a href="#">Arts</a></h3>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-topic text-center mb-30">-->
<!--                            <div class="topic-img">-->
<!--                                <img src="assets/img/gallery/topic3.png" alt="">-->
<!--                                <div class="topic-content-box">-->
<!--                                    <div class="topic-content">-->
<!--                                        <h3><a href="#">Communication</a></h3>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-topic text-center mb-30">-->
<!--                            <div class="topic-img">-->
<!--                                <img src="assets/img/gallery/topic4.png" alt="">-->
<!--                                <div class="topic-content-box">-->
<!--                                    <div class="topic-content">-->
<!--                                        <h3><a href="#">Legal</a></h3>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-topic text-center mb-30">-->
<!--                            <div class="topic-img">-->
<!--                                <img src="assets/img/gallery/topic5.png" alt="">-->
<!--                                <div class="topic-content-box">-->
<!--                                    <div class="topic-content">-->
<!--                                        <h3><a href="#">Medical Coding</a></h3>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-topic text-center mb-30">-->
<!--                            <div class="topic-img">-->
<!--                                <img src="assets/img/gallery/topic6.png" alt="">-->
<!--                                <div class="topic-content-box">-->
<!--                                    <div class="topic-content">-->
<!--                                        <h3><a href="#">Geography</a></h3>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-topic text-center mb-30">-->
<!--                            <div class="topic-img">-->
<!--                                <img src="assets/img/gallery/topic7.png" alt="">-->
<!--                                <div class="topic-content-box">-->
<!--                                    <div class="topic-content">-->
<!--                                        <h3><a href="History"></a></h3>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-6">-->
<!--                        <div class="single-topic text-center mb-30">-->
<!--                            <div class="topic-img">-->
<!--                                <img src="assets/img/gallery/topic8.png" alt="">-->
<!--                                <div class="topic-content-box">-->
<!--                                    <div class="topic-content">-->
<!--                                        <h3><a href="#">Criminology</a></h3>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-xl-12">-->
<!--                        <div class="section-tittle text-center mt-20">-->
<!--                            <a href="#" class="border-btn">View More Subjects</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <!-- top subjects End -->
        <!--? About Area-3 Start -->
        <section class="about-area3 fix">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'assets/img/gallery/about3.png' %}" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">Learner outcomes on courses you will take</h2>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Techniques to engage effectively with  children and young people.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world
                            learning together.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static 'assets/img/icon/right-icon.svg' %}" alt="">
                        </div>
                        <div class="features-caption">
                            <p>Join millions of people from around the world learning together.
                            Online learning is as easy and natural.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? Team -->
<!--        <section class="team-area section-padding40 fix">-->
<!--            <div class="container">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-xl-7 col-lg-8">-->
<!--                        <div class="section-tittle text-center mb-55">-->
<!--                            <h2>Community experts</h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="team-active slick-initialized slick-slider"><button type="button" class="slick-prev slick-arrow" style="display: block;"><i class="ti-angle-left"></i></button>-->





<!--                <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4140px; transform: translate3d(-2070px, 0px, 0px); transition: transform 400ms ease 0s;"><div class="single-cat text-center slick-slide slick-cloned" tabindex="-1" style="width: 315px;" data-slick-index="-2" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team4.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. Arafat</a></h5>-->
<!--                            <p>11+ years Experience in UI design.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide slick-cloned" tabindex="-1" style="width: 315px;" data-slick-index="-1" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. saiful</a></h5>-->
<!--                            <p>Prof. in S.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide" tabindex="-1" style="width: 315px;" data-slick-index="0" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team1.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. Urela</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide" tabindex="-1" style="width: 315px;" data-slick-index="1" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team2.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. Uttom</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide" tabindex="-1" style="width: 315px;" data-slick-index="2" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. Shakil</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide" tabindex="0" style="width: 315px;" data-slick-index="3" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team4.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="0">Mr. Arafat</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide slick-current slick-active" tabindex="0" style="width: 315px;" data-slick-index="4" aria-hidden="false">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="0">Mr. saiful</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide slick-cloned slick-active" tabindex="-1" style="width: 315px;" data-slick-index="5" aria-hidden="false">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team1.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. Urela</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide slick-cloned" tabindex="-1" style="width: 315px;" data-slick-index="6" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team2.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. Uttom</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide slick-cloned" tabindex="-1" style="width: 315px;" data-slick-index="7" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. Shakil</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide slick-cloned" tabindex="-1" style="width: 315px;" data-slick-index="8" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team4.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. Arafat</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div><div class="single-cat text-center slick-slide slick-cloned" tabindex="-1" style="width: 315px;" data-slick-index="9" aria-hidden="true">-->
<!--                        <div class="cat-icon">-->
<!--                            <img src="{% static 'assets/img/gallery/team3.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="cat-cap">-->
<!--                            <h5><a href="services.html" tabindex="-1">Mr. saiful</a></h5>-->
<!--                            <p>The automated process all your website tasks.</p>-->
<!--                        </div>-->
<!--                    </div></div></div><button type="button" class="slick-next slick-arrow" style="display: block;"><i class="ti-angle-right"></i></button></div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- Services End -->
    </main>
</body>
</html>
{% endblock %}